In [25]:
import pandas as pd
df=pd.read_csv(r'0.32.00.csv')
f = df[df.pipeline=='lstm_dynamic_threshold']

f.head()

,dataset,pipeline,signal,iteration,f1,recall,precision,tn,fp,fn,tp,status,elapsed,split,run_id
2460,MSL,tadgan,C-1,0,NaN,0.0,NaN,NaN,0,2,0,OK,638.621074,True,57e67faf-7
2461,MSL,tadgan,C-2,0,NaN,0.0,NaN,NaN,0,2,0,OK,274.200400,True,57e67faf-7
2462,MSL,tadgan,D-14,0,1.0,1.0,1.0,NaN,0,0,2,OK,1103.612599,True,57e67faf-7
2463,MSL,tadgan,D-15,0,NaN,0.0,0.0,NaN,1,1,0,OK,601.455482,True,57e67faf-7
2464,MSL,tadgan,D-16,0,1.0,1.0,1.0,NaN,0,0,1,OK,428.836901,True,57e67faf-7

,dataset,pipeline,signal,iteration,f1,recall,precision,tn,fp,fn,tp,status,elapsed,split,run_id
108,MSL,lstm_dynamic_threshold,C-1,0,0.25,0.5,0.166667,NaN,5,1,1,OK,832.609720,True,7352502d-5
109,MSL,lstm_dynamic_threshold,C-2,0,NaN,0.0,0.000000,NaN,6,2,0,OK,341.097624,True,7352502d-5
110,MSL,lstm_dynamic_threshold,D-14,0,1.00,1.0,1.000000,NaN,0,0,2,OK,547.602670,True,7352502d-5
111,MSL,lstm_dynamic_threshold,D-15,0,NaN,0.0,NaN,NaN,0,1,0,OK,808.424848,True,7352502d-5
112,MSL,lstm_dynamic_threshold,D-16,0,NaN,0.0,NaN,NaN,0,1,0,OK,330.724946,True,7352502d-5

In [ ]:
df.pipeline.unique()

array(['arima', 'azure', 'dense_autoencoder', 'lstm_autoencoder',
       'lstm_dynamic_threshold', 'tadgan'], dtype=object)

In [75]:
from statistics import mean
import math
F1y = [item for item in MSL_tadgan.f1 if not(math.isnan(item)) == True]
F1t = [0 if math.isnan(x) else x for x in MSL_tadgan.f1]
F1_final1=mean(F1t)
Recall = [item for item in MSL_tadgan.recall if not(math.isnan(item)) == True]
Recall_final=mean(Recall)

Precisiont = [item for item in MSL_tadgan.precision if not(math.isnan(item)) == True]
Precision_final=mean(Precisiont)
print('Precision_final_msl_tadgan', Precision_final)
print('Recall_final_msl_tadgan', Recall_final)

print('F1_final_msl_tadgan',F1_final1)

Precision_final_msl_tadgan 0.6
Recall_final_msl_tadgan 0.7530864197530864
F1_final_msl_tadgan 0.6074074074074074

In [ ]:
import pandas as pd
df=pd.read_csv(r'0.2.0.csv')
f = df[df.pipeline=='arima']

f.head()

,dataset,pipeline,signal,iteration,f1,recall,precision,tn,fp,fn,tp,status,elapsed,split,run_id
0,MSL,arima,C-1,0,0.666667,0.5,1.0,NaN,0,1,1,OK,538.747022,True,7352502d-5
1,MSL,arima,C-2,0,0.666667,0.5,1.0,NaN,0,1,1,OK,961.080443,True,7352502d-5
2,MSL,arima,D-14,0,0.000000,0.0,0.0,NaN,0,2,0,ERROR,15.939266,True,7352502d-5
3,MSL,arima,D-15,0,NaN,0.0,NaN,NaN,0,1,0,OK,331.872506,True,7352502d-5
4,MSL,arima,D-16,0,0.000000,0.0,0.0,NaN,0,1,0,ERROR,11.669563,True,7352502d-5

In [ ]:
f.pipeline.unique()

array(['arima'], dtype=object)

In [ ]:
##arima
SMAP_arima=f[f.dataset=='SMAP']
SMAP_arima=SMAP_arima[SMAP_arima.pipeline=='arima']
SMAP_arima=SMAP_arima[SMAP_arima.status=='OK']
SMAP_arima.head()
SMAP_arima.to_csv("SMAP_arima")
MSL_arima=f[f.dataset=='MSL']

MSL_arima=MSL_arima[MSL_arima.pipeline=='arima']
MSL_arima=MSL_arima[MSL_arima.status=='OK']
MSL_arima.head()
MSL_arima.to_csv("MSL_arima")

In [ ]:
from statistics import mean
import math
F1y = [item for item in SMAP_arima.f1 if not(math.isnan(item)) == True]
F1t = [0 if math.isnan(x) else x for x in SMAP_arima.f1]
F1_final1=mean(F1t)

Recall_final=mean(SMAP_arima.recall)
Precisiont = [item for item in SMAP_arima.precision if not(math.isnan(item)) == True]
Precision_final=mean(Precisiont)
print('Precision_final_smap_arima', Precision_final)
print('Recall_final_smap_arima', Recall_final)

print('F1_final_smap_arima1',F1_final1)

Precision_final_smap_arima 0.44595959595959594
Recall_final_smap_arima 0.6285714285714286
F1_final_smap_arima1 0.4125417439703154

In [ ]:
from statistics import mean
import math
F1y = [item for item in MSL_arima.f1 if not(math.isnan(item)) == True]
F1t = [0 if math.isnan(x) else x for x in MSL_arima.f1]
F1_final=mean(F1t)

Recall_final=mean(MSL_arima.recall)
Precisiont = [item for item in MSL_arima.precision if not(math.isnan(item)) == True]
Precision_final=mean(Precisiont)
print('Precision_final_MSL_arima', Precision_final)
print('Recall_final_MSL_arima', Recall_final)

print('F1_final_MSL_arima',F1_final)

Precision_final_MSL_arima 0.6120535714285714
Recall_final_MSL_arima 0.575
F1_final_MSL_arima 0.47773809523809524